@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.banner_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #252020;
  padding-bottom: 20px;
}

.banner_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  color: #252020;
}

.banner_section {
  padding-top: 40px;
  padding-bottom: 80px;
}
