@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.footer {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.newsletter_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.newsletter_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.newsletter_section {
  padding-bottom: 50px;
}

.email_input {
  padding: 14px 24px;
  gap: 8px;
  height: 48px;
  left: 0px;
  right: 200px;
  background: #ffffff;
  border: none;
}

.subscribe_btn {
  box-sizing: border-box;
  width: 184px;
  height: 48px;
  left: 400px;
  background: #000000;
  opacity: 0.3;
  border: 1.14286px solid #ffffff !important;
  border-radius: 5px;
  margin-left: 15px;
}

.transactions {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer_link_head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24.7131px;
  line-height: 30px;
  color: #ffffff;
}
